// @import "./blocks/advantages.less";

.advantages-list__header {
  padding-top: 32px;
  padding-bottom: 17px;
  text-align: center;
}

.advantages-list__wrapper {
  padding-right: 18px;
  padding-left: 18px;
}

.advantages-list__title {
  margin: 0;
  padding-right: 10px;
  padding-bottom: 35px;
  padding-left: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantages-list__description {
  margin: 0;
}

.advantages-list__item {
  padding-top: 40px;
  padding-bottom: 27px;
  text-align: center;
}

.advantages-list__item--first {
  position: relative;
  font-weight: 700;
}

.advantages-list__item--blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages-list__item--triangle {
  background-image: url("../img/top-triangle.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 37px;
}

.advantages-list__item-subject {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 11px;
}

.advantages-list__item-subject--first {
  padding-top: 30px;
}

.advantages-list__numbering {
  margin: 0;
  padding-bottom: 17px;
  font-weight: 400;
}

.advantages-list__description-excerpt {
  margin: 0;
  padding-bottom: 13px;
  font-weight: 400;
}

.advantages-list__item-picture {
  height: 260px;
  background-repeat: no-repeat;
}

.advantages-list__item-picture--first {
  background-color: #9ba896;
  background-image: url("../img/bg-item-picture-city-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-item-picture-city-mobile@2x.jpg");
    background-position: center;
    background-size: 320px auto;
  }
}

.advantages-list__subject {
  padding-top: 25px;
  padding-bottom: 29px;
}

.advantages-list__subject-item {
  position: relative;
  padding-top: 8px;
  padding-bottom: 22px;
  padding-left: 48px;
}

.advantages-list__subject-item:nth-child(2) {
  padding-left: 52px;
}

.advantages-list__subject-item:nth-child(3) {
  padding-left: 44px;
}

.advantages-list__icon {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 41px;
  height: auto;
  fill: #81b3d2;
}

.advantages-list__subject-title {
  margin: 0;
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantages-list__subject-description {
  margin: 0;
}

.advantages-list__subject-description br {
  display: none;
}

.advantages-list__item-second {
  padding-top: 38px;
  padding-bottom: 22px;
}

.advantages-list__item-picture--second {
  min-width: 320px;
  background-color: #d4af9c;
  background-image: url("../img/bg-item-picture-bridge-mobile.jpg");
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-item-picture-bridge-mobile@2x.jpg");
    background-position: center;
    background-size: 320px auto;
  }
}

.advantages-list__item--gray {
  position: relative;
  background-color: #eeeeee;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 6%;
    width: 89%;
    height: 1px;
    background-color: #d6d6d6;
  }
}

.advantages-list__wrapper-item {
  padding-right: 32px;
  padding-left: 32px;
}

.advantages-list__item--third {
  padding-top: 26px;
  padding-bottom: 11px;
}

.advantages-list__item--fourth {
  padding-top: 24px;
  padding-bottom: 11px;
}

.advantages-list__item--fifth {
  padding-top: 24px;
  padding-bottom: 13px;
}

.advantages-list__subject-title-padding {
  padding-bottom: 12px;
}

@media (min-width: @tablet-width) {
  .advantages-list {
    margin-bottom: 22px;
  }

  .advantages-list__header {
    margin-bottom: 39px;
    padding-top: 47px;
    padding-right: 18%;
    padding-bottom: 17px;
    padding-left: 18%;
    text-align: center;
  }

  .advantages-list__title {
    padding-bottom: 29px;
    font-size: 21px;
    line-height: 26px;
  }

  .advantages-list__item--triangle {
    background-image: none;
  }

  .advantages-list__wrapper-block {
    display: flex;
    justify-content: space-between;
  }

  .advantages-list__item--first {
    padding-right: 4%;
    padding-left: 4%;
  }

  .advantages-list__item--blue {
    flex-grow: 1;
  }

  .advantages-list__item-picture {
    flex-grow: 3;
  }

  .advantages-list__item-picture--first {
    height: 256px;
    min-width: 512px;
    background-image: url("../img/bg-item-picture-city-tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-item-picture-city-tablet@2x.jpg");
      background-position: center;
      background-size: 512px auto;
    }
  }

  .advantages-list__item-subject {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    padding-bottom: 14px;
  }

  .advantages-list__numbering {
    padding-bottom: 22px;
  }

  .advantages-list__item-subject--first {
    padding-top: 0;
  }

  .advantages-list__subject {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    padding-top: 48px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
  }

  .advantages-list__subject-item {
    padding-right: 13px;
    padding-left: 13px;
    text-align: center;
  }

  .advantages-list__subject-item:nth-child(2) {
    padding-left: 15px;
  }

  .advantages-list__subject-item:nth-child(3) {
    padding-left: 13px;
  }

  .advantages-list__subject-item:nth-child(2) .advantages-list__subject-description {
    padding-right: 18px;
    padding-left: 18px;
  }

  .advantages-list__icon {
    position: relative;
    width: auto;
    padding-bottom: 17px;
  }

  .advantages-list__subject-title {
    padding-bottom: 22px;
    font-size: 21px;
  }

  .advantages-list__wrapper-block--reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .advantages-list__item-picture--second {
    height: 256px;
    min-width: 512px;
    background-image: url("../img/bg-item-picture-bridge-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-item-picture-bridge-tablet@2x.jpg");
      background-position: center;
      background-size: 512px auto;
    }
  }

  .advantages-list__item-second {
    padding-top: 44px;
    padding-right: 50px;
    padding-left: 51px;
  }

  .advantages-list__item-second .advantages-list__item-subject {
    padding-right: 3px;
    padding-left: 2px;
  }

  .advantages-list__wrapper-block__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .advantages-list__wrapper-item {
    padding-top: 43px;
    padding-right: 39px;
    padding-left: 39px;
    padding-bottom: 27px;
  }

  .advantages-list__wrapper-block--gray {
    background-color: #eeeeee;
  }

  .advantages-list__subject-title-padding {
    padding-right: 11px;
    padding-left: 11px;
  }

  .advantages-list__item--fourth .advantages-list__description-excerpt {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: @desktop-width) {
  .advantages-list__header {
    margin-bottom: 29px;
    padding-top: 60px;
    padding-right: 29%;
    padding-left: 29%;
  }

  .advantages-list__item--first {
    padding-top: 46px;
    padding-right: 5%;
    padding-left: 5%;
  }

  .advantages-list__item-subject {
    padding-right: 13%;
    padding-left: 13%;
  }

  .advantages-list__item-picture--first {
    min-width: 800px;
    background-image: url("../img/bg-item-picture-city-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-item-picture-city-desktop@2x.jpg");
      background-position: center;
      background-size: 800px auto;
    }
  }

  .advantages-list__subject {
    gap: 4%;
    margin-bottom: 21px;
    padding-top: 45px;
  }

  .advantages-list__subject-item {
    padding-right: 19px;
    padding-left: 19px;
  }

  .advantages-list__subject-item:nth-child(1) .advantages-list__subject-description,
  .advantages-list__subject-item:nth-child(3) .advantages-list__subject-description {
    padding-right: 19px;
    padding-left: 19px;
  }

  .advantages-list__subject-description br {
    display: inline;
  }

  .advantages-list__item-picture--second {
    min-width: 800px;
    background-image: url("../img/bg-item-picture-bridge-desktop.jpg");
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-item-picture-bridge-desktop@2x.jpg");
      background-position: center;
      background-size: 800px auto;
    }
  }

  .advantages-list__item-second {
    padding-top: 50px;
    padding-right: 93px;
    padding-left: 93px;
  }

  .advantages-list__item-second .advantages-list__item-subject {
    padding-right: 32px;
    padding-left: 32px;
  }

  .advantages-list__subject-title-padding {
    padding-right: 85px;
    padding-left: 85px;
  }

  .advantages-list__wrapper-item {
    padding-bottom: 47px;
  }


  .advantages-list__item--fourth .advantages-list__description-excerpt {
    padding-right: 30px;
    padding-left: 30px;
  }
}
