// @import "./blocks/advantages.less";

.advantages-list__header {
  padding-top: 34px;
  padding-bottom: 17px;
  text-align: center;
}

.advantages-list__wrapper {
  padding-right: 18px;
  padding-left: 18px;
}

.advantages-list__title {
  margin: 0;
  padding-bottom: 35px;
}

.advantages-list__description {
  margin: 0;
}

.advantages-list__item {
  padding-top: 40px;
  padding-bottom: 25px;
  text-align: center;
}

.advantages-list__item--first {
  font-weight: 700;
}

.advantages-list__item--blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages-list__item--triangle {
  background-image: url("../img/top-triangle.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 37px;
}

.advantages-list__item-subject {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 11px;
}

.advantages-list__item-subject--first {
  padding-top: 30px;
}

.advantages-list__item-subject br {
  display: none;
}

.advantages-list__numbering {
  margin: 0;
  padding-bottom: 17px;
}

.advantages-list__description-excerpt {
  margin: 0;
  padding-bottom: 13px;
}

.advantages-list__description-excerpt br:not(:nth-child(2)) {
  display: none;
}

.advantages-list__item-picture {
  height: 260px;
  background-repeat: no-repeat;
}

.advantages-list__item-picture--first {
  background-color: #9ba896;
  background-image: url("../img/bg-item-picture-city@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages-list__subject {
  padding-top: 25px;
  padding-bottom: 31px;
}

.advantages-list__subject-item {
  position: relative;
  padding-top: 10px;
  padding-bottom: 19px;
  padding-left: 48px;
}

.advantages-list__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: auto;
  fill: #81b3d2;
}

.advantages-list__subject-title {
  margin: 0;
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantages-list__subject-description {
  margin: 0;
}

.advantages-list__item-second {
  padding-bottom: 16px;
}

.advantages-list__item-picture--second {
  background-color: #d4af9c;
  background-image: url("../img/bg-item-picture-bridge@1x.jpg");
  background-size: cover;
}

.advantages-list__item--gray {
  background-color: #eeeeee;
}

.advantages-list__item--third {
  padding-top: 26px;
  padding-bottom: 11px;
}

.advantages-list__item--fourth {
  padding-top: 24px;
  padding-bottom: 11px;
}

.advantages-list__item--fifth {
  padding-top: 24px;
  padding-bottom: 13px;
}

.advantages-list__subject-title-padding {
  padding-bottom: 13px;
}

@media (min-width: @tablet-width) {
  .advantages-list {
    margin-bottom: 22px;
  }

  .advantages-list__header {
    margin-bottom: 39px;
    padding-top: 47px;
    padding-right: 120px;
    padding-bottom: 17px;
    padding-left: 120px;
    text-align: center;
  }

  .advantages-list__title {
    padding-bottom: 29px;
    font-size: 21px;
    line-height: 26px;
  }

  .advantages-list__title br:first-child {
    display: none;
  }

  .advantages-list__item--triangle {
    background-image: none;
  }

  .advantages-list__wrapper-block {
    height: 256px;
    display: flex;
    justify-content: space-between;
  }

  .advantages-list__item--first {
    padding-right: 32px;
    padding-left: 32px;
  }

  .advantages-list__item--blue {
    flex-grow: 1;
  }

  .advantages-list__item-picture {
    flex-grow: 3;
  }

  .advantages-list__item-picture--first {
    height: 256px;
    min-width: 512px;
    background-image: url("../img/bg-item-picture-city-tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .advantages-list__item-subject {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }

  .advantages-list__numbering {
    padding-bottom: 24px;
  }

  .advantages-list__item-subject--first {
    padding-top: 0;
  }

  .advantages-list__item-subject br {
    display: inline;
  }

  .advantages-list__description-excerpt br:nth-child(2) {
    display: none;
  }

  .advantages-list__description-excerpt br:not(:nth-child(2)) {
    display: inline;
  }

  .advantages-list__subject {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    padding-top: 48px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
  }

  .advantages-list__subject-item {
    padding-left: 0;
    text-align: center;
  }

  .advantages-list__icon {
    position: relative;
    width: auto;
    padding-bottom: 17px;
  }

  .advantages-list__subject-title {
    padding-bottom: 22px;
    font-size: 21px;
  }

  .advantages-list__wrapper-block--reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .advantages-list__item-picture--second {
    height: 256px;
    min-width: 512px;
    background-image: url("../img/bg-item-picture-bridge-tablet.jpg");
    background-size: cover;
  }

  .advantages-list__wrapper-block__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .advantages-list__wrapper-item {
    padding-top: 43px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .advantages-list__wrapper-block--gray {
    background-color: #eeeeee;
  }
}

@media (min-width: @desktop-width) {
  .advantages-list__header {
    margin-bottom: 29px;
    padding-top: 60px;
  }

  .advantages-list__description-excerpt br:not(:nth-child(2)) {
    display: none;
  }

  .advantages-list__description-excerpt br:nth-child(2) {
    display: inline;
  }

  .advantages-list__item-picture--first {
    min-width: 800px;
    background-image: url("../img/bg-item-picture-city-desktop.jpg");
  }

  .advantages-list__subject {
    gap: 4%;
    margin-bottom: 23px;
    padding-top: 45px;
  }

  .advantages-list__item-picture--second {
    min-width: 800px;
    background-image: url("../img/bg-item-picture-bridge-desktop.jpg");
    background-size: cover;
  }
}
