.gallery-list {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.gallery-list__header {
  padding-bottom: 42px;
}

.gallery-list__title {
  margin: 0;
  padding-bottom: 25px;
}

.gallery-list__description {
  margin: 0;
}

.gallery-list__item {
  padding-top: 24px;
  padding-bottom: 25px;
  text-align: start;
}

.gallery-list__photo {
  display: inline-block;
  margin-bottom: 9px;
  background-color: #edbbaa;
}

.gallery-list__item-subject {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}

.gallery-list__item-author {
  margin: 0;
  padding-bottom: 11px;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
}

.gallery-list__item-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  padding: 0;
  background-color: #ffffff;
  border: none;
}

.gallery-list__item-icon {
  padding-right: 12px;
}

.gallery-list__item-number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
}
