// @import "./blocks/inner-intro.less";

.inner-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 157px;
  min-width: 320px;
  margin-bottom: 33px;
  color: #ffffff;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-inner-intro-mobile.jpg");
  background-color: #a7afc6;
  background-position: bottom, 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 57px, cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-inner-intro-mobile@2x.jpg");
    background-size: 100% 57px, cover;
  }
}

.inner-intro__name {
  display: block;
  width: 229px;
  height: auto;
  margin: 0 auto;
  padding-top: 22%;
}

@media (min-width: @tablet-width) {
  .inner-intro {
    height: 290px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-inner-intro-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-inner-intro-tablet@2x.jpg");
    }
  }

  .inner-intro__name {
    width: 457px;
    padding-top: 21%;
  }
}

@media (min-width: @desktop-width) {
  .inner-intro {
    height: 300px;
    margin-bottom: 72px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-inner-intro-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-inner-intro-desktop@2x.jpg");
    }
  }

  .inner-intro__name {
    width: 460px;
    padding-top: 22%;
  }
}
