.main-header {
  position: relative;
  z-index: 11;
  min-height: 56px;
  outline: 3px solid rgba(34, 176, 117, 0.8);
  outline-offset: -3px;
}

.main-header__wrapper {
  min-height: 56px;
}

.main-header__logo {
  display: block;
  width: 185px;
  margin: 0 auto;
  margin-bottom: -45px;
}

.main-nav {
  position: absolute;
  top: 0;
  min-width: 100%;
}

@media (min-width: @tablet-width) {
  .main-header__logo {
    display: none;
  }

  .main-header__wrapper {
    padding: 0;
  }
}
