.main-intro {
  height: 389px;
  color: #ffffff;
  background-color: #2d3d46;
  background-image: url("/img/intro-triangle.svg"), url("/img/bg-intro@1x.png");
  background-position: bottom, center;
  background-repeat: no-repeat;
}

.main-intro__wrapper {
  padding-right: 18px;
  padding-left: 18px;
}

.main-intro__name {
  padding-top: 90px;
  padding-bottom: 85px;
}
