.main-intro {
  // видны в блоки рамки
  height: 389px;
  color: #ffffff;
  background-image: url("/img/intro-triangle-mobile.svg"), url("/img/bg-intro-mobile.png");
  background-color: #a7afc6;
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: contain, cover;
}

.main-intro__wrapper {
  height: inherit;
  width: inherit;
  padding-right: 18px;
  padding-left: 18px;
}

.main-intro__name {
  display: block;
  margin: 0  auto;
  padding-top: 90px;
  padding-bottom: 85px;
}

@media (min-width: @tablet-width) {
  .main-intro {
    height: 518px;
    background-image: url("/img/intro-triangle-tablet.svg"), url("/img/bg-intro-tablet.png");
  }

  .main-intro__name {
    width: 461px;
    padding-top: 77px;
  }
}

@media (min-width: @desktop-width) {
  .main-intro {
    background-image: url("/img/intro-triangle-desktop.svg"), url("/img/bg-intro-desktop.png");
  }
}
