.offer {
  text-align: center;
}

.offer__wrapper {
  padding-top: 39px;
  padding-left: 18px;
  padding-bottom: 39px;
  padding-right: 18px;
}

.offer__sentence {
  padding-bottom: 20px;
  font-size: 21px;
  line-height: 26px;
}

.offer__description {
  margin: 0;
  padding-bottom: 30px;
}

.offer__button {
  margin-bottom: 10px;
  font-size: 21px;
  min-width: 100%;
}

.offer__map-wrapper {
  height: 350px;
  background-color: #d3e3b4;
}
