.presentation {
  margin-bottom: 1px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.presentation__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 17px;
}

.presentation__text {
  display: inline-block;
  padding-bottom: 30px;
  font-size: 18px;
}

.presentation__description {
  margin: 0;
  padding-right: 9px;
  padding-bottom: 38px;
  padding-left: 11px;
}

.presentation__video-image {
  height: 177px;
  color: #ffffff;
  background-color: #cabdb6;
  background-image: url("../img/bg-video-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-video-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.presentation__container {
  position: relative;
}

.presentation__icon-play {
  position: absolute;
  bottom: 36%;
  left: 44%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 27px 0 27px 49px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .presentation__wrapper {
    margin-bottom: 54px;
  }

  .presentation__text {
    padding-right: 19%;
    padding-left: 19%;
    padding-bottom: 33px;
    font-size: 30px;
  }

  .presentation__description {
    padding-right: 19%;
    padding-left: 19%;
    padding-bottom: 89px;
  }

  .presentation__video-image {
    width: 648px;
    height: 500px;
    background-image: url("../img/bg-video-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-video-tablet@2x.jpg");
      background-size: 648px auto;
    }
  }

  .presentation__icon-play {
    bottom: 45%;
    left: 46%;
  }


  @media (min-width: @desktop-width) {
    .presentation__wrapper {
      margin-bottom: 96px;
    }

    .presentation__video-image {
      width: 800px;
      background-image: url("../img/bg-video-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-video-desktop@2x.jpg");
        background-size: 800px auto;
      }
    }

    .presentation__icon-play {
      left: 47%;
    }

    .presentation__text,
    .presentation__description {
      padding-right: 350px;
      padding-left: 350px;
    }
  }
}
