.presentation {
  margin-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.presentation__wrapper {
  // position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 16px;
}

.presentation__text {
  padding-bottom: 27px;
  font-size: 18px;
}

.presentation__description {
  margin: 0;
  padding-bottom: 38px;
}

.presentation__description br:nth-child(2) {
  display: none;
}

.presentation__video-image {
  height: 177px;
  color: #ffffff;
  background-color: #cabdb6;
  background-image: url("../img/bg-video-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-video-mobile@2x.jpg");
    background-size: 560px auto;
  }
}

.presentation__container {
  position: relative;
}

.presentation__icon-play {
  position: absolute;
  bottom: 36%;
  left: 44%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 27px 0 27px 49px;
  border-color: transparent transparent transparent fade(@white, 70%);
}

@media (min-width: @tablet-width) {
  .presentation__wrapper {
    margin-bottom: 59px;
  }

  .presentation__text {
    padding-bottom: 29px;
    font-size: 30px;
  }

  .presentation__description {
    padding-bottom: 89px;
  }

  .presentation__description br:nth-child(1),
  .presentation__description br:nth-child(3) {
    display: none;
  }

  .presentation__description br:nth-child(2) {
    display: inline;
  }

  .presentation__video-image {
    width: 648px;
    height: 500px;
    background-image: url("../img/bg-video-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-video-tablet@2x.jpg");
      background-size: 1296px auto;
    }
  }

  .presentation__icon-play {
    bottom: 45%;
    left: 46%;
  }


  @media (min-width: @desktop-width) {
    .presentation__wrapper {
      margin-bottom: 102px;
    }

    .presentation__video-image {
      width: 800px;
      background-image: url("../img/bg-video-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-video-desktop@2x.jpg");
        background-size: 1600px auto;
      }
    }

    .presentation__icon-play {
      left: 47%;
    }
  }
}
