// @import "./blocks/site-list.less";
.site-list {
  text-align: center;
}

.site-list__item a {
  display: block;
  padding-top: 17px;
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid fade(#ffffff, 20%);
  border-bottom: 1px solid fade(#010101, 20%);
}

.site-list__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: grid;
    min-height: 56px;
    grid-template-columns: 1fr 1fr 185px 1fr 1fr;
    margin: 0 auto;
  }

  .site-list__item {
    display: flex;
    justify-content: center;
  }

  .site-list__item a {
    display: inline-block;
    padding-top: 18px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 18px;
    font-size: 14px;
    line-height: 21px;
    color: @black;
    border: none;
  }

  .site-list__logo {
    display: block;
    margin-top: 0;
    margin-right: -10px;
    margin-bottom: -50px;
  }

  .site-list__logo .site-list__link {
    padding: 0;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .site-list__logo {
    margin-right: auto;
    margin-left: auto;
  }
}
