h2,
h3,
h4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  border-style: none;
}
b {
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("./fonts/ptsans.woff") format(woff);
  src: url("./fonts/ptsans.woff2") format(woff2);
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("./fonts/ptsansbold.woff") format(woff);
  src: url("./fonts/ptsansbold.woff2") format(woff2);
  font-display: swap;
}
.page {
  height: 100%;
  box-sizing: border-box;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}
.page-body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  color: #000000;
}
@media (min-width: 1280px) {
  .page-body {
    padding-right: 40px;
    padding-left: 40px;
    background-color: #e7e5e5;
    box-shadow: 0 5px 15px #00010133;
  }
  .page-body__wrapper {
    background-color: #ffffff;
  }
}
.button {
  display: inline-block;
  max-width: 458px;
  padding: 16px 20px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}
.main-header {
  z-index: 11;
  min-height: 56px;
  outline: 3px solid rgba(34, 176, 117, 0.8);
  outline-offset: -3px;
}
.main-header__wrapper {
  min-height: 56px;
  padding-right: 18px;
  padding-left: 18px;
  outline: 3px solid #4e205bcc;
  outline-offset: -3px;
}
.main-header__logo {
  position: relative;
  display: block;
  width: 185px;
  margin: 0 auto;
  margin-bottom: -45px;
}
.main-nav {
  position: absolute;
  top: 0;
  right: 15px;
}
@media (min-width: 768px) {
  .main-header__logo {
    display: none;
  }
  .main-header__wrapper {
    padding: 0;
  }
  .main-nav {
    position: relative;
  }
}
.main-nav {
  outline: 3px solid #ad98decc;
  outline-offset: -3px;
}
.main-nav__toogle {
  width: 23px;
  height: 22px;
  box-sizing: content-box;
  padding: 17px 12px;
  border: 0;
  text-align: right;
}
.main-nav__wrapper {
  display: none;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav {
    top: 0;
    right: 0;
    margin: 0 auto;
  }
  .main-nav__toogle {
    display: none;
  }
  .main-nav__wrapper {
    display: block;
  }
}
.site-list__logo {
  display: none;
}
@media (min-width: 768px) {
  .site-list {
    display: grid;
    min-height: 56px;
    grid-template-columns: 1fr 1fr 185px 1fr 1fr;
    margin: 0;
  }
  .site-list__item {
    display: flex;
    justify-content: center;
  }
  .site-list__item a {
    display: inline-block;
    padding-top: 18px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 18px;
    font-weight: 700;
  }
  .site-list__logo {
    display: block;
    margin-top: 0;
    margin-right: -10px;
    margin-bottom: -50px;
  }
  .site-list__logo .site-list__link {
    padding: 0;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .site-list__logo {
    margin-right: auto;
    margin-left: auto;
  }
}
.main-intro {
  height: 389px;
  color: #ffffff;
  background-image: url("/img/intro-triangle-mobile.svg"), url("/img/bg-intro-mobile.png");
  background-color: #a7afc6;
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: contain, cover;
}
.main-intro__wrapper {
  height: inherit;
  width: inherit;
  padding-right: 18px;
  padding-left: 18px;
}
.main-intro__name {
  display: block;
  margin: 0  auto;
  padding-top: 90px;
  padding-bottom: 85px;
}
@media (min-width: 768px) {
  .main-intro {
    height: 518px;
    background-image: url("/img/intro-triangle-tablet.svg"), url("/img/bg-intro-tablet.png");
  }
  .main-intro__name {
    width: 461px;
    padding-top: 77px;
  }
}
@media (min-width: 1280px) {
  .main-intro {
    background-image: url("/img/intro-triangle-desktop.svg"), url("/img/bg-intro-desktop.png");
  }
}
.advantages-list__header {
  padding-top: 34px;
  padding-bottom: 17px;
  text-align: center;
}
.advantages-list__wrapper {
  padding-right: 18px;
  padding-left: 18px;
}
.advantages-list__title {
  margin: 0;
  padding-bottom: 35px;
}
.advantages-list__description {
  margin: 0;
}
.advantages-list__item {
  padding-top: 40px;
  padding-bottom: 25px;
  text-align: center;
}
.advantages-list__item--first {
  font-weight: 700;
}
.advantages-list__item--blue {
  color: #ffffff;
  background-color: #81b3d2;
}
.advantages-list__item--triangle {
  background-image: url("/img/top-triangle.svg");
  background-position: top;
  background-repeat: no-repeat;
}
.advantages-list__item-subject {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 11px;
}
.advantages-list__numbering {
  margin: 0;
  padding-bottom: 17px;
}
.advantages-list__description-excerpt {
  margin: 0;
  padding-bottom: 13px;
}
.advantages-list__item-picture {
  height: 260px;
  background-repeat: no-repeat;
}
.advantages-list__item-picture--first {
  background-color: #9ba896;
  background-image: url("/img/bg-item-picture-city@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.advantages-list__subject {
  padding-top: 25px;
  padding-bottom: 31px;
}
.advantages-list__subject-item {
  padding-top: 10px;
  padding-bottom: 19px;
  padding-left: 48px;
}
.advantages-list__subject-title {
  margin: 0;
  padding-bottom: 16px;
}
.advantages-list__subject-description {
  margin: 0;
}
.advantages-list__item-second {
  padding-bottom: 16px;
}
.advantages-list__item-picture--second {
  background-color: #d4af9c;
  background-image: url("/img/bg-item-picture-bridge@1x.jpg");
  background-size: cover;
}
.advantages-list__item--gray {
  width: 100%;
  background-color: #eeeeee;
}
.advantages-list__item--third {
  padding-top: 26px;
  padding-bottom: 11px;
}
.advantages-list__item--fourth {
  padding-top: 24px;
  padding-bottom: 11px;
}
.advantages-list__item--fifth {
  padding-top: 24px;
  padding-bottom: 13px;
}
.advantages-list__subject-title--padding {
  padding-bottom: 13px;
}
@media (min-width: 768px) {
  .advantages-list__header {
    padding-top: 47px;
    padding-bottom: 17px;
    text-align: center;
  }
  .advantages-list__title {
    padding-bottom: 29px;
    font-size: 21px;
    line-height: 26px;
  }
  .advantages-list__title br:first-child {
    display: none;
  }
  .advantages-list__item--triangle {
    background-image: none;
  }
  .advantages-list__wrapper-block {
    height: 256px;
    display: flex;
    justify-content: space-between;
  }
  .advantages-list__item--first {
    min-width: 256px;
  }
  .advantages-list__item-picture--first {
    width: 100%;
    height: 256px;
    background-image: url("/img/bg-item-picture-city-tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .advantages-list__subject {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .advantages-list__wrapper-block--reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  .advantages-list__item-picture--second {
    width: 100%;
    background-image: url("/img/bg-item-picture-bridge-tablet.jpg");
    background-size: cover;
  }
}
@media (min-width: 1280px) {
  .advantages-list__item-picture--first {
    min-width: 800px;
    background-image: url("/img/bg-item-picture-city-desktop.jpg");
  }
  .advantages-list__item-picture--second {
    width: 100%;
    background-image: url("/img/bg-item-picture-bridge-desktop.jpg");
    background-size: cover;
  }
}
.offer {
  text-align: center;
}
.offer__wrapper {
  padding-top: 39px;
  padding-left: 18px;
  padding-bottom: 39px;
  padding-right: 18px;
}
.offer__sentence {
  padding-bottom: 20px;
  font-size: 21px;
  line-height: 26px;
}
.offer__description {
  margin: 0;
  padding-bottom: 30px;
}
.offer__description br:nth-child(2) {
  display: none;
}
.offer__button {
  width: 284px;
  margin-bottom: 10px;
  font-size: 21px;
}
.offer__map {
  height: 350px;
  margin-bottom: 19px;
  background-image: url("/img/offer-map-marker.svg"), url("/img/offer-map-mobile.png");
  background-position: center, center;
  background-repeat: no-repeat;
  background-color: #d3e3b4;
  background-size: 27px, cover;
}
@media (min-width: 768px) {
  .offer__sentence {
    font-size: 30px;
    line-height: 26px;
  }
  .offer__description br:first-child,
  .offer__description br:last-child {
    display: none;
  }
  .offer__description br:nth-child(2) {
    display: inline;
  }
  .offer__button {
    width: 458px;
  }
  .offer__map {
    height: 350px;
    background-image: url("/img/offer-map-marker.svg"), url("/img/offer-map-tablet.png");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: 27px, cover;
  }
}
@media (min-width: 1280px) {
  .offer__map {
    background-image: url("/img/offer-map-marker.svg"), url("/img/offer-map-desktop.png");
  }
}
.main-footer {
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 36px;
  padding-left: 18px;
  text-align: center;
}
.main-footer__hashtag {
  padding-top: 4px;
  padding-bottom: 33px;
}
.hashtag {
  font-size: 21px;
  line-height: 26px;
}
.main-footer__social {
  display: flex;
  justify-content: center;
  height: 48px;
  margin-bottom: 40px;
}
.social__list {
  display: flex;
  max-width: 156px;
  height: inherit;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.social__item {
  padding-right: 5px;
}
.social__item:last-child {
  padding-right: 0;
}
.social__link {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
.social__link svg {
  fill: #ffffff;
}
.main-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.copyright__text {
  margin: 0;
  padding-right: 13px;
}
.copyright__link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
@media (min-width: 768px) {
  .main-footer {
    padding-right: 0;
    padding-left: 0;
  }
  .main-footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 60px;
  }
  .main-footer__hashtag {
    padding: 0;
    align-self: center;
  }
  .main-footer__social {
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .main-footer__container {
    padding-right: 120px;
    padding-left: 120px;
  }
}
.catalog-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 157px;
  margin-bottom: 34px;
  color: #ffffff;
  background-image: url("/img/intro-triangle.svg"), url("/img/bg-catalog-intro@1x.png");
  background-color: #a7afc6;
  background-position: bottom, 50% 100%;
  background-repeat: no-repeat;
}
.catalog-intro__name {
  padding-bottom: 5%;
}
.gallery-list {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.gallery-list__header {
  padding-bottom: 42px;
}
.gallery-list__title {
  margin: 0;
  padding-bottom: 25px;
}
.gallery-list__description {
  margin: 0;
}
.gallery-list__item {
  padding-top: 24px;
  padding-bottom: 25px;
  text-align: start;
}
.gallery-list__photo {
  display: inline-block;
  margin-bottom: 9px;
  background-color: #edbbaa;
}
.gallery-list__item-subject {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}
.gallery-list__item-author {
  margin: 0;
  padding-bottom: 11px;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
}
.gallery-list__item-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  padding: 0;
  background-color: #ffffff;
  border: none;
}
.gallery-list__item-icon {
  padding-right: 12px;
}
.gallery-list__item-number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
}
.presentation {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.presentation__wrapper {
  padding-top: 18px;
}
.presentation__text {
  padding-bottom: 27px;
  font-size: 18px;
}
.presentation__description {
  margin: 0;
  padding-bottom: 38px;
}
.presentation__video-image {
  color: #ffffff;
  background-color: #cabdb6;
  background-image: url("/img/icon-play.png"), url("/img/video-mobile@1x.png");
  background-position: center;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */
