// @import "./global/button.less";

.button {
  display: inline-block;
  max-width: 458px;
  padding: 16px 20px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  text-decoration: none;
}
